@import url(https://fonts.googleapis.com/css?family=Roboto:900);

.pads {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  gap: 6px;
  border-radius: 8px;
  padding: 6px;
}

.pad {
  height: 100px;
  // -webkit-font-smoothing: antialiased;
  // -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(
    160deg,
    map-get($colors, spotThree),
    map-get($colors, spotTwo)
  );
  cursor: pointer;
  user-select: none;
  box-shadow: 0 0 0 0 map-get($colors, spotTwo),
    0 2px 2px mix(map-get($colors, primary), map-get($colors, spotOne), 50%);
  transition: box-shadow 0.2s;
  border-radius: 6px;
  &:hover {
    outline: 1px solid map-get($colors, light);
    transition: none;
    box-shadow: 0 0 2px 2px map-get($colors, spotTwo),
      0 2px 2px mix(map-get($colors, dark), map-get($colors, spotOne), 50%);
    z-index: 100;
  }
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  h3 {
    color: map-get($colors, dark);
  }
}

.pad-controls {
  min-width: 400px;
}

.pad-main {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(map-get($colors, gray), 0.3);
  h1,
  h2,
  h3 {
    align-self: center;
  }
}
