@import "variables";
@import "typography";
@import "toggle-switch";
body {
  background-color: map-get($colors, white);
}

.layout {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.underlay {
  overflow: hidden;
  background-image: url("../../public/plastic-tile.jpg");
  border-radius: 10px;
  border: 1px solid cornsilk;
  box-shadow: 0 2px 2px map-get($colors, gray);
}

.drum-machine {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 8px;
  background-color: rgba(lighten(map-get($colors, white), 5%), 0.7);
  padding: 10px;
  border-radius: inherit;
  & > div {
    border-radius: 8px;
    border: 1px solid lighten(map-get($colors, highlight), 35%);
    background-color: white;
  }
}

.main-controls {
  grid-column: 1 / 3;
  height: 200px;
  background-color: map-get($colors, white);
}

.pads {
  box-shadow: inset 0 2px 2px map-get($colors, gray);
  display: grid;
  grid-template-columns: repeat(3, 100px);
  gap: 6px;
  border-radius: 8px;
  padding: 6px;
}

.pad {
  height: 100px;
  border-radius: 6px;
  box-shadow: 0 2px 2px firebrick;
  transition: all 0.3s ease-out;
  background-color: map-get($colors, primary);
  display: flex;
  &:hover {
    background-color: map-get($colors, highlight);
    transition: none;
  }
  h3 {
    align-self: flex-end;
    color: map-get($colors, dark);
  }
}

.pad-controls {
  background-color: skyblue;
  min-width: 400px;

  .sm {
    max-width: 50px;
  }
  .md {
    max-width: 75px;
  }
  .lg {
    max-width: 100px;
  }
}
.dial-group {
  display: flex;
  align-items: flex-end;
}

.dial-container {
  display: flex;
  flex-direction: column;
  h6 {
    font-size: 1em;
  }
  svg {
    transform-origin: center;
    transform: rotateZ(90deg);
  }
  svg.pan {
    transform: rotateZ(270deg);
  }
}

.dial {
  fill: map-get($colors, primary);
  stroke: lighten(map-get($colors, gray), 25%);
  stroke-width: 0.5rem;
  transition: all 0.3s ease-out;
  &:hover {
    fill: map-get($colors, highlight);
    transition: none;
  }
}

.dial-ring {
  fill: none;
  stroke: map-get($colors, white);
  stroke-width: 0.5rem;
}

.blur {
  filter: blur(4px);
  stroke: map-get($colors, secondary);
}

.dial-label {
  text-align: center;
}

.sequencer {
  grid-column: 1/3;
  background-color: gray;
  height: 200px;
}
