@import "utils/variables";
@import "utils/night-mode";

@import "base/typography";

@import "components/dials";
@import "components/pads";
@import "components/theme-style-switch";
@import "components/toggle-switch";

@import "layouts/main-layout";
@import "layouts/drum-machine";
@import "components/button";

html {
  // box-sizing: border-box;
  font-family: "Arial", sans-serif;
  font-size: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.column {
  flex-direction: column;
}
