$colors: (
  primary: tomato,
  secondary: firebrick,
  tertiary: crimson,
  dark: maroon,
  light: lightpink,
  highlight: coral,
  white: cornsilk,
  black: black,
  gray: gray,
  spotOne: #2c1561,
  spotTwo: #d67220,
  spotThree: #ce3009,
);

$fonts: (
  heading: "Bebas Neue",
  mono: "IBM Plex Mono",
  regular: "Poppins",
);
