h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: map-get($fonts, heading);
  margin: 4px;
}

p,
span {
  font-family: map-get($fonts, mono);
}

.noselect {
  user-select: none;
}

.area-label {
  margin: 0;
  margin-bottom: 4px;
  padding: 6px 6px 2px 6px;
  background: rgba(map-get($colors, primary), 0.25);
}
